@import 'tailwindcss';
@import 'tw-animate-css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.markdown {
  font-size: 16px;
  font-weight: 400;
}

.markdown :is(h2) {
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}

.markdown :is(h3, h4, h5, h6) {
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}

.markdown p:not(:is(h2, h3, h4, h5, h6) + p) {
  margin-top: 22px;
}

.markdown :is(ul, ol) {
  list-style-position: outside;
}

.markdown :is(ul) {
  list-style-type: '•';
}

.markdown :is(ol) {
  list-style-type: decimal;
  padding-left: 20px;
}

.markdown :is(a) {
  text-decoration: underline;
}

.markdown :is(a):hover {
  text-decoration: underline;
  color: #726d67;
  cursor: pointer;
}

.markdown :is(ul) li {
  margin-block: 8px;
  padding-inline-start: 8px;
  padding-left: 5px;
  margin-left: 10px;
}

.markdown :is(ol) li {
  margin-block: 8px;
  padding-inline-start: 8px;
  padding-left: 3px;
  margin-left: 10px;
}

.markdown :is(blockquote) {
  border-left: 3px solid #26231e;
  margin: 1.5em 10px;
  padding-left: 10px;
  font-style: italic;
}

.markdown :is(hr) {
  border: none;
  border-top: 2.5px solid #d1d5db;
  margin: 1.5em 0;
  width: 30%;
}

.markdown img {
  display: block;
  width: 100%;
  height: auto;
  margin: 2em 0;
  border-radius: 12px;
}
